@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.945 0.02 180);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.35 0.08 200);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.55 0.15 45);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.25 0 0);
  --muted-foreground: oklch(0.985 0 0);
  --accent: oklch(0.55 0.15 45);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.35 0 0);
  --input: oklch(0.205 0 0);
  --ring: oklch(0.6 0.1 220);
  --chart-1: oklch(0.4 0.2 240);
  --chart-2: oklch(0.5 0.2 280);
  --chart-3: oklch(0.6 0.15 45);
  --chart-4: oklch(0.55 0.2 320);
  --chart-5: oklch(0.45 0.2 210);
  --radius: 0.5rem;
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.35 0.08 200);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.55 0.15 45);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.35 0 0);
  --sidebar-ring: oklch(0.6 0.1 220);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.945 0.02 180);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.35 0.08 200);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.55 0.15 45);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.25 0 0);
  --muted-foreground: oklch(0.985 0 0);
  --accent: oklch(0.55 0.15 45);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.35 0 0);
  --input: oklch(0.205 0 0);
  --ring: oklch(0.6 0.1 220);
  --chart-1: oklch(0.4 0.2 240);
  --chart-2: oklch(0.5 0.2 280);
  --chart-3: oklch(0.6 0.15 45);
  --chart-4: oklch(0.55 0.2 320);
  --chart-5: oklch(0.45 0.2 210);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.35 0.08 200);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.55 0.15 45);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.35 0 0);
  --sidebar-ring: oklch(0.6 0.1 220);
}
